<!DOCTYPE html>
<html>
  <head>
    <title>Common-notice</title>
    
  </head>
  <body>
    <img src="https://firebasestorage.googleapis.com/v0/b/witimes-f9925.appspot.com/o/<%=result%>?alt=media"  width="460" height="345">
   <h4>Uploaded successfully !!</h4>

      </body>
      </html>





 